/_notes/*
/dists/*
/tests/*
node_modules/*
.grunt
.project
.settings
.buildpath
.config
.ai
.psd
.config
.backup
package-lock.json
package.jsons
gulpfile.js
bower.json
.vs/*
/media/background/drafts/*
/bower_components/*
/components/*
/lib/jhtml/*
/Bin/*
/Silos/*
/Worlds/*
/DataSheets/*